[user]
	email = d@ironbay.co
	name = Dax Raad
# [url "ssh://git@github.com/"]
#   insteadOf = https://github.com/
[pull]
	ff = only
[rerere]
	enabled = true
[alias]
	change-commits = "!f() { VAR=$1; OLD=$2; NEW=$3; shift 3; git filter-branch --env-filter \"if [[ \\\"$`echo $VAR`\\\" = '$OLD' ]]; then export $VAR='$NEW'; fi\" $@; }; f"
[protocol "file"]
	allow = always
